In [1]:
!pip install keras

No global/local python version has been set yet. Please set the global/local version by typing:
pyenv global 3.7.4
pyenv local 3.7.4

In [2]:
3+10

13

In [12]:
#install pandas data reader package
!pip install pandas_datareader

# <font> face="gotham" color=""purple > Хугацаан цуюааны өгөгдлийг боловсруулах </font>

In [7]:
!pip update

No global/local python version has been set yet. Please set the global/local version by typing:
pyenv global 3.7.4
pyenv local 3.7.4

In [16]:
!pip install matplotlib

No global/local python version has been set yet. Please set the global/local version by typing:
pyenv global 3.7.4
pyenv local 3.7.4

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as pdr
import datetime as dt
import statsmodels.formula.api as smf
import statsmodels.api as sm

from statsmodels.tsa.filters.hp_filter import hpfilter
from statsmodels.graphics.tsaplots import plot_acf

ModuleNotFoundError: No module named 'matplotlib'

In [10]:
row = pd.Series([10, 20, 30, 40, 50])
row

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [11]:
df = pd.DataFrame([[10, "ten", True],
                   [20, "twenty", False],
                   [30, "thirty", True],
                   [40, "forty", False],
                   [50, "fifty", False]])
df

    0       1      2
0  10     ten   True
1  20  twenty  False
2  30  thirty   True
3  40   forty  False
4  50   fifty  False

# <font face="gotham" color="purple"> Хугацаан цувааны өгөгдлийг боловсруулах </font>

In [19]:
import math

thickness = 0.00008
mt_fuji_height = 3776

folds = math.ceil(math.log2(mt_fuji_height/thickness))
print(f"Number of folds {folds} that paper can be higher than Mt.Fuji")

Number of folds 26 that paper can be higher than Mt.Fuji

In [28]:
print(2**3)
x=2**3
print(type(2**3))

8
<class 'int'>

In [33]:
a='bold'
a

'bold'

In [34]:
a

'bold'

In [35]:
'My name is', a

('My name is', 'bold')

In [36]:
today_temperature = 3
tomorrow_temperature = -5
print("Today's lowest temperature is {:+} and tomorrow's lowest temperature is {:+}.".format(today_temperature, tomorrow_temperature))

Today's lowest temperature is +3 and tomorrow's lowest temperature is -5.

In [37]:
discount_rate = 0.125
print(f"The discount rate is{discount_rate:.1%}!!")

The discount rate is12.5%!!

In [38]:
print("python".capitalize())

Python

In [39]:
student_age = 19
print("Student age", student_age)

Student age 19

In [40]:
print("Student age", student_age, sep=":")

Student age:19

In [42]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print("The average temperature for each month is {} degrees in January and {} degrees in February.".format(monthly_average_temperatures[5], monthly_average_temperatures[6]))

The average temperature for each month is 22 degrees in January and 27 degrees in February.

In [43]:
print(monthly_average_temperatures[0:7:2])

[6, 9, 20, 27]

In [44]:
print(monthly_average_temperatures[3:8])

[15, 20, 22, 27, 26]

In [45]:
print(monthly_average_temperatures[::5])

[6, 22, 12]

In [53]:
print(monthly_average_temperatures[::-1])

[7, 12, 17, 23, 26, 27, 22, 20, 15, 9, 7, 6]

In [55]:
monthly_average_temperatures.remove(6)
print(monthly_average_temperatures)

[7, 9, 15, 20, 22, 26, 23, 17, 12, 7]

In [47]:
texts = []
texts.append("alpha")
texts.append("beta")
print(texts)

['alpha', 'beta']

In [49]:
texts.pop()

'beta'

In [50]:
print(texts)

['alpha']

In [56]:
user_ids = ("A081", "A114", "A186")
print(user_ids)
print(type(user_ids))

('A081', 'A114', 'A186')
<class 'tuple'>

In [58]:
user_id1, user_id2, user_id3 = user_ids

In [59]:
empty_tuple = ()
print(empty_tuple)

()

In [60]:
temperature=35

In [65]:
if temperature>30:
    print("I am going to buy an ice-cream")
else:
    print("I am going to buy nothing")

I am going to buy an ice-cream

In [68]:
print(type(30<20))

<class 'bool'>

In [69]:
DEBUG=True
DEBUG

In [ ]:
DEBUG

> c:\users\baigalmaa.erdenetmc\appdata\local\temp\ipykernel_27772\4091178698.py(1)<module>()