In [1]:
DEBUG=True
DEBUG

True

In [3]:
student_name = "Alice"
student_age = 19
if (student_age >= 10) and (student_age < 20):
  print("{}は10代!!".format(student_name))

Aliceは10代!!

In [5]:
no_judgement = False
student_name = "Alice"
student_age = 30

if not(no_judgement):
  if student_age < 20:
    print("{}は20歳未満!!".format(student_name))
  else:
    print("{}は20歳以上!!".format(student_name))
else:
  print("Age is not determined.")

Aliceは20歳以上!!

In [8]:
for i in range(5, 10, 2):
  print(i)

5
7
9

In [9]:
for i in range(9, -1, -1):
  print(i)

9
8
7
6
5
4
3
2
1
0

In [10]:
for i in reversed(range(10)):
  print(i)

9
8
7
6
5
4
3
2
1
0

In [11]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for i in range(len(monthly_average_temperatures)):
  print("{} The average monthly temperature is {} degrees!!".format(i+1, monthly_average_temperatures[i]))

1 The average monthly temperature is 6 degrees!!
2 The average monthly temperature is 7 degrees!!
3 The average monthly temperature is 9 degrees!!
4 The average monthly temperature is 15 degrees!!
5 The average monthly temperature is 20 degrees!!
6 The average monthly temperature is 22 degrees!!
7 The average monthly temperature is 27 degrees!!
8 The average monthly temperature is 26 degrees!!
9 The average monthly temperature is 23 degrees!!
10 The average monthly temperature is 17 degrees!!
11 The average monthly temperature is 12 degrees!!
12 The average monthly temperature is 7 degrees!!

In [12]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for i, temperature in enumerate(monthly_average_temperatures):
  print("{} The average monthly temperature is {} degrees!!".format(i+1, temperature))

1 The average monthly temperature is 6 degrees!!
2 The average monthly temperature is 7 degrees!!
3 The average monthly temperature is 9 degrees!!
4 The average monthly temperature is 15 degrees!!
5 The average monthly temperature is 20 degrees!!
6 The average monthly temperature is 22 degrees!!
7 The average monthly temperature is 27 degrees!!
8 The average monthly temperature is 26 degrees!!
9 The average monthly temperature is 23 degrees!!
10 The average monthly temperature is 17 degrees!!
11 The average monthly temperature is 12 degrees!!
12 The average monthly temperature is 7 degrees!!

In [13]:
MONTH_NUMBERS = list(range(1,13))
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for month_number, temperature in zip(MONTH_NUMBERS, monthly_average_temperatures):
  print("{} The average monthly temperature is {} degrees!!".format(month_number, temperature))

1 The average monthly temperature is 6 degrees!!
2 The average monthly temperature is 7 degrees!!
3 The average monthly temperature is 9 degrees!!
4 The average monthly temperature is 15 degrees!!
5 The average monthly temperature is 20 degrees!!
6 The average monthly temperature is 22 degrees!!
7 The average monthly temperature is 27 degrees!!
8 The average monthly temperature is 26 degrees!!
9 The average monthly temperature is 23 degrees!!
10 The average monthly temperature is 17 degrees!!
11 The average monthly temperature is 12 degrees!!
12 The average monthly temperature is 7 degrees!!

In [14]:
num = 0
while num < 10:
  print(num)
  num += 3

0
3
6
9

In [29]:
no_judgement = False
student_name = "Alice"
student_age = 21

if not(no_judgement):
  if student_age < 20:
    print("{}は20歳未満!!".format(student_name))
  else:
    print("{}は20歳以上!!".format(student_name))
else:
  print("Age is not determined.")

Aliceは20歳以上!!

In [18]:
def sample_function(x, y):
  answer = (x+y) * 2
  return answer

print(sample_function(3, 5))
print(sample_function(10, 3))
print(sample_function(-20, -10))

16
26
-60

In [17]:
def print_hello_something(something, end = "!"):
  print("Hello, {}{}".format(something, end))

print_hello_something("Python")
print_hello_something("Python", end = "?")

Hello, Python!
Hello, Python?

In [19]:
ADULT_AGE = 20

student_name = "Alice"
student_age = 19
if student_age < ADULT_AGE:
    print("{}はUnder the age of {}!!".format(student_name, ADULT_AGE))
else:
    print("{}はOver the age of {}!!".format(student_name, ADULT_AGE))

AliceはUnder the age of 20!!

In [37]:
num = 0
while True:
    print(num)
    num += 3
    break

0

In [35]:
num = 0
while num < 10:
  print(num)
  num += 3

0
3
6
9

In [38]:
def sample_function2(x, y):
  answer1 = (x+y) * 2
  answer2 = answer1 + 10
  return answer1

print(sample_function2(3, 5))
print(answer2) # NameError

16

NameError: name 'answer2' is not defined

In [39]:
def sample_function3(x, y):
  answer1 = (x+y) * 2
  answer2 = answer1 + 10
  return answer1, answer2

answer1, answer2 = sample_function3(3, 5)
print(answer1)
print(answer2)

16
26